<%# <h2>THis is index page OR default page,where display all tweets!!</h2> %>
<div>
<h1>Tweets</h1>
</div>
<div>
<%= link_to 'New Tweet', new_tweet_path %>
</div>
<div>
<ul>
	<% @tweets.each do |tweet| %>
	<li>
		<%= tweet.tweet %>
		<%= link_to 'Show', tweet %> |
		<%= link_to 'Edit', edit_tweet_path(tweet) %> |
		<%= link_to 'Delete', tweet, method: :delete, data: { confirm: "Are you sure?" } %>
	</li>
	<% end %>
</ul>
</div>
